:root {
  --color-white: #ffffff;
  --color-main-text: #333333;
  --color-main-accent: #00bfb4;
  --color-basic: #7036ba;
  --color-lite-accent: #a76bf2;
  --color-borders: #d9d1e3;
  --color-hint-text: #999999;
}

* {
  box-sizing: border-box;
}
ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}
.container-fluid {
  padding: 0 23px;
  min-width: 320px;
  max-width: 1140px;
}
.section-title {
  padding-top: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: var(--color-main-text);
}
.section-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 65px;
  font-size: 25px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  background: var(--color-main-accent);
  color: var(--color-white);
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: var(--color-basic);
}
.navbar-nav {
  background: none;
}
ul {
  gap: 25px;
}
.nav-link {
  padding: 0 !important;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.navbar-toggler {
  padding: 0;
  border: none;
}
.offcanvas-header {
  background: #6f36ba94;
}
.offcanvas-body {
}
.intro {
  width: 100%;
  height: 805px;
  color: var(--color-white);
  background: #00000096;
}
.www {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--color-basic);
}

.intro-content {
  max-width: 1140px;
  height: 500px;
  background: #a89797;
}
.left-col {
  max-width: 960px;
  height: 429px;
  background: var(--color-lite-accent);
}
.rrr {
  height: 327px;
}
.right-col {
  max-width: 960px;
  max-height: 800px;
  background: #635970;
}
.intro-title{
  padding: 35px 0 25px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.intro-text{
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.intro-btn{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.about-us-title{
  padding-bottom: 50px;
}
.start {
  background: var(--color-basic);
  color: var(--color-white);
  padding-bottom: 50px;
}
.start > .container-fluid > .section-title {
  color: var(--color-white);
  padding-bottom: 25px;
}
.start-text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.step {
  min-width: 330px;
  min-height: 125px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.step-img {
  height: 55px;
}
.step-text {
  font-size: 20px;
  font-weight: 400;
}
.features {
  padding-bottom: 50px;
}
.features-card {
  display: flex;
  color: var(--color-main-text);
  gap: 15px;
}
.features-icon {
  width: 70px;
}
.features-title {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.features-text {
  font-size: 16px;
  font-weight: 400;
}
.features-btn {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.pricing {
  padding-bottom: 50px;
  background: var(--color-basic);
}
.price-card {
  padding: 10px;
  height: 405px;
  border-radius: 5px;
  background: var(--color-lite-accent);
  color: var(--color-white);
}
.price-title {
  font-size: 35px;
  font-weight: 700;
}
.price-list {
  height: 190px;
  padding-left: 20px;
}
.list-text {
  font-size: 18px;
  font-weight: 400;
  list-style: url();
  background-repeat: no-repeat;
}
.price-box {
  padding-top: 55px;
}
.price-text {
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
}
.price-span {
  font-size: 18px;
  font-weight: 400;
}
.price-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid;
  width: 132px;
  height: 55px;
  color: var(--color-white);
  background: none;
}
.clients-feedback {
  color: var(--color-main-text);
  padding-bottom: 50px;
}
.item-box {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  padding: 70px 50px 0;
}
.item-content {
}
.item-photo {
  height: 100px;
}
.content-text {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
}
.item-link {
  color: var(--color-lite-accent);
  text-decoration: none;
}
.item-icon {
  padding-right: 4px;
}
.item-text {
  font-size: 18px;
  font-weight: 400;
}
.faq {
  background: var(--color-basic);
}
.accordion-faq {
  padding-bottom: 50px;
}
.accordion-item {
  --bs-accordion-border-color: none;
  --bs-accordion-bg: none;
}
.accordion-button {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white) !important;
  background: var(--color-basic) !important;
}
.accordion-button::after {
  background-image: url(./src/img/arrow-accordion.svg) !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-collapse {
  margin-top: -20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white) !important;
  background: var(--color-basic) !important;
}
.list-marker {
  margin-right: 8px;
}
.training {
  padding-bottom: 50px;
}
.training-text {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 25px 0 50px 0;
  color: var(--color-main-text);
}

.training-label {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-main-text);
}
.label-title {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
  color: var(--color-main-text);
}
.training-input {
  max-width: 540px;
  min-width: 330px;
  padding: 10px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid var(--color-hint-text);
}
.checkbox {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.checkbox-input {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-hint-text);
}
.checkbox-label {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  color: var(--color-main-text);
}
.traning-btn {
  display: flex;
  justify-content: center;
}
.footer {
  background: var(--color-basic);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 0;
  gap: 15px;
}
.footer-service {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-white);
}
.footer-link {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-white);
}

@media (min-width: 376px) {
  .rrr{
    height: 327px;
  }
}

@media (min-width: 992px) {
  .rrr{
    height: 805px;
  }
}
